/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  font-size: 1.4em;
  }
  
  article {
  
  }
  
  h1 {
  text-align: center;
  font-size: 2em;

  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
    max-width: 80%;
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
      margin-bottom: 10px;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (max-width: 600px){
    body {
        background-color: red;
        padding: 10px 15px;
    }  
    
    h1 {
          
      }
  }